
:root {
  --primary-color: #387D7A;
  --primary-color-light: #D6F6DD;
  --secondary-color: #BCD8C1;
  --tertiary-color: #422040;
  --clr-white: #fff;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --transition: all 0.3s linear;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

/* Navigation */
#logo-img {
  width: 2rem;
}

.navbar {
  display: flex;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #fff solid;
}

.nav {
  transition: var(--transition);
}

.nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  font-size: .9rem;
}

.nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
}

.nav-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-btn {
  width: 3rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  margin-left: auto;
  display: none;
}

.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}


/* Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  z-index: 4;
  display: grid;
  place-items: center;
  transition: var(--transition);
  transform: translateX(-100%);
}

.close-icon {
  display: none;
  filter: invert(41%) sepia(64%) saturate(317%) hue-rotate(128deg) brightness(92%) contrast(92%);
}

.nav-btn-icon {
  filter: invert(41%) sepia(64%) saturate(317%) hue-rotate(128deg) brightness(92%) contrast(92%);
  transition: var(--transition);
}

.nav-btn-icon:hover {
  transform: scale(1.2);
}

.close-btn {
  background: transparent;
  border: transparent;
}

.show-sidebar {
  transform: translateX(0);
}

.sidebar-links {
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  transition: var(--transition);
  color: var(--primary-color);
  letter-spacing: 1.5px;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.sidebar-links a:hover {
  color: var(--clr-white);
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 20rem;
  margin-top: 3rem;
  justify-items: center;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--clr-primary-5);
}


/* Promotions */

.promotions {
  display: grid;
  margin: 1rem;
}

.card-sm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-radius: 7px;
  background-color: var(--secondary-color);
  max-width: 275px;
  /* max-height: 100px; */
  padding: 1rem;
}

.card-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-content p {
  margin: 0;
}

.card-content-headline {
  color: var(--tertiary-color);
  font-weight: bold;
  font-size: .75rem;
  text-transform: uppercase;
}

.card-content-message {
  letter-spacing: .75px;
  font-size: .9rem;

}

.card-img {
  max-width: 175px;
  margin: 0 auto;
}

.card-img img {
  width: 100%;
}

/* Value Section */

.value-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
}

.value-icon {
  width: 3rem;
  filter: invert(48%) sepia(76%) saturate(290%) hue-rotate(133deg) brightness(88%) contrast(88%);
}

.value-content {
  text-align: center;
}

/* Hero */

.hero {
  justify-content: center;
  background-image: url('../imgs/hero-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position-y: bottom; */
  height: 400px;
  position: relative;
}

.hero-text-container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.hero-text-title {
  color: #FFF8F0;
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0;
}

.hero-text-content {
  color: #fff;
}

.hero-btn {
  border: var(--primary-color) solid 1px;
  color: #fff;
  transition: all .25s linear;
}

.hero-btn:hover {
  transform: scale(1.15);
  color: #C2D8B9;
}

/* Footer CSS */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  margin-top: 3rem;
  padding: 1.5rem 1.5rem;
}

.copyright {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #fff;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footer-links a {
  color: #fff;
}

/* Section CSS */

.section-title {
  text-align: center;
  margin-top: 2.5rem;
}

.divider {
  border-top: 1px solid #9DB2BF
}


/* Containers */

.container {
  max-width: 80vw;
  margin: 2rem auto;
}

.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .75rem;
}

.value-grid-container {
  display: grid;
  grid-template-rows: 30% 70%;
}

/* Button */
.btn {
  border: var(--primary-color-light) solid 1px;
  padding: .75rem 1.25rem;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .category-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "a b"
      "c c";
  }

  .tile-1 {
    grid-area: a;
  }

  .tile-2 {
    grid-area: b;
  }

  .tile-3 {
    grid-area: c;
  }

  .promotions {
    margin: .75rem;
  }

  .tile-3 .card-sm {
    max-width: 100%;
  }

  .tile-3 .card-ig {
    max-width: 150px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .value-grid-container {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .footer-links {
    display: none;
  }

  .nav-logo-container {
    width: 100%;
  }

  .navbar {
    position: relative;
  }

  .nav {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
    z-index: 3;
    transition: translate(-50%, -50%);
  }

  .nav ul {
    transform: translateY(50%);
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-links a {
    font-size: 1.25rem;
    letter-spacing: 1px;
  }

  .nav-btn {
    display: inline-block;
  }

  .close-btn {
    display: inline-block;
    width: 2.5rem;
    position: absolute;
    top: 5%;
    right: 5%;
    transition: var(--transition);
  }

  .close-btn:hover {
    transform: scale(1.2);
  }

  .close-icon {
    display: inline-block;
    width: 100%;
  }

  .footer {
    display: block;
  }

  .copyright {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .category-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "a"
      "b"
      "c"
  }

  .tile-1 .card-sm {
    max-width: 100%;
  }

  .tile-2 .card-sm {
    max-width: 100%;
  }

  .hero-text-content {
    display: none;
  }

  .hero-text-title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    width: 300px;
  }

}
