
:root {
  --primary-color: #387D7A;
  --primary-color-light: #D6F6DD;
  --secondary-color: #BCD8C1;
  --tertiary-color: #422040;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

/* Navigation */

#logo-img {
  width: 2rem;
}

.navbar {
  display: flex;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #fff solid;
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  font-size: .9rem;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Promotions */

.promotions {
  display: grid;
  margin: 1rem;
}

.card-sm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-radius: 7px;
  background-color: var(--secondary-color);
  max-width: 275px;
  /* max-height: 100px; */
  padding: 1rem;
}

.card-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-content p {
  margin: 0;
}

.card-content-headline {
  color: var(--tertiary-color);
  font-weight: bold;
  font-size: .75rem;
  text-transform: uppercase;
}

.card-content-message {
  letter-spacing: .75px;
  font-size: .9rem;

}

.card-img {
  max-width: 175px;
  margin: 0 auto;
}

.card-img img {
  width: 100%;
}

/* Value Section */

.value-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
}

.value-icon {
  width: 3rem;
  filter: invert(48%) sepia(76%) saturate(290%) hue-rotate(133deg) brightness(88%) contrast(88%);
}

.value-content {
  text-align: center;
}

/* Hero */

.hero {
  justify-content: center;
  background-image: url('../imgs/hero-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position-y: bottom; */
  height: 400px;
}

.hero-text-container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.hero-text-title {
  color: #FFF8F0;
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0;
}

.hero-text-content {
  color: #fff;
}

.hero-btn {
  border: var(--primary-color) solid 1px;
  color: #fff;
  transition: all .25s linear;
}

.hero-btn:hover {
  transform: scale(1.15);
  color: #C2D8B9;
}

/* Footer CSS */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  margin-top: 3rem;
  padding: 1.5rem 1.5rem;
}

.copyright {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #fff;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footer-links a {
  color: #fff;
}

/* Section CSS */

.section-title {
  text-align: center;
  margin-top: 2.5rem;
}

.divider {
  border-top: 1px solid #9DB2BF
}


/* Containers */

.container {
  max-width: 80vw;
  margin: 2rem auto;
}

.category-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .75rem;
}

.value-grid-container {
  display: grid;
  grid-template-rows: 30% 70%;
}




/* Media Queries */



/* Button */
.btn {
  border: var(--primary-color-light) solid 1px;
  padding: .75rem 1.25rem;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}
